{% extends 'base.html' %}
{% block content %}
<h1>{{ todo_list.name }}</h1>
<p><a href ="{% url 'todo_list_update' todo_list.id %}">Edit</a>
    <a href ="{% url 'todo_list_delete' todo_list.id %}">Delete</a></p>
<h2>Tasks</h2>

<table>
    <thead>
        <tr>
            <td>Task</td>
            <td>Due date</td>
        </tr>
    </thead>
    <tbody>
        {% for todo_item in todo_list.items.all %}
        <a href="{% url 'todo_item_update' todo_list.id %}">Update</a>
        <tr>
            <td><a href="#">{{ todo_item.task }}</a></td>
            <td>{{ todo_item.due_date|date:"M j, Y" }}</td>

        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
